<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>User Profile</h1>
    <div id="profileInfo">
        <h2>Profile Information</h2>
        <p id="username"></p>
        <p id="email"></p>
        <p id="phone"></p>
    </div>

    <script>
        $(document).ready(function() {
            // Проверка наличия токена в localStorage
            var token = localStorage.getItem("token");
            if (token) {
                // Отправка запроса для получения информации о пользователе
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:8000/api/v1/accounts/profile/",
                    headers: {
                        "Authorization": "Token " + token
                    },
                    success: function(response) {
                        $("#username").text("Username: " + response.username);
                        $("#email").text("Email: " + response.email);
                        $("#phone").text("Phone: " + response.phone);
                    },
                    error: function(xhr, status, error) {
                        console.error("Error:", error);
                        // Обработка ошибки (например, вывод сообщения об ошибке)
                    }
                });
            } else {
                // Если токен отсутствует, перенаправляем на страницу входа или выдаем предупреждение
                alert("Please login to view your profile.");
                // window.location.href = "/login"; // Раскомментируйте эту строку, чтобы перенаправить пользователя на страницу входа
            }
        });
    </script>
</body>
</html>
