<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register and Verify User</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Register and Verify User</h1>
    <div id="registerForm">
        <h2>Register</h2>
        <form id="registrationForm">
            <label for="phone">Phone:</label><br>
            <input type="tel" id="phone" name="phone"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <button type="submit">Register</button>
        </form>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="verificationForm">
                <label for="code">Enter Code:</label><br>
                <input type="text" id="code" name="code"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var token = localStorage.getItem("token");
            if (token) {
                window.location.href = "/home";
            }

            function registerUser(data) {
                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:8000/api/v1/accounts/register/",
                    data: data,
                    success: function(response) {
                        openModal(); 
                    },
                    error: function(xhr, status, error) {
                        console.error("Error:", error);
                        
                    }
                });
            }

            
            function verifyCode(code) {
                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:8000/api/v1/accounts/auth/" + code,
                    success: function(response) {
                        var token = response.token;
                        console.log("Token:", token);
                        
                        localStorage.setItem("token", token);
                    },
                    error: function(xhr, status, error) {
                        console.error("Error:", error);
                        
                    }
                });
            }

            function openModal() {
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
            }

            $(".close").click(function() {
                var modal = document.getElementById("myModal");
                modal.style.display = "none";
            });

            $("#registrationForm").submit(function(event) {
                event.preventDefault();
                var formData = {
                    phone: $("#phone").val(),
                    email: $("#email").val()
                };
                registerUser(formData);
            });

            $("#verificationForm").submit(function(event) {
                event.preventDefault();
                var code = $("#code").val();
                verifyCode(code);
            });
        });
    </script>
</body>
</html>
